body {
  padding: 50px;
  background-color: #e0fbdb;
}

h1, h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}

h2 {
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #266f26;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  font: 20px Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 35vh;
}

li {
  padding: 10px;
}

#form {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    margin-left: 10px; 
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center; 
}